Screen {
    overflow: auto;
    align: center top;
}
#menu_buttons {
    align: center top;
}

.console-container {
    height: 70%;
}

.objective-container {
    height: 30%;
}

.chat-container {
    width: 40%;
}

#editor {
    width: 60;
    height: 40;
    border: thick $background 80%;
    background: $surface;
}